<!--.wrapper_with_padding-->
<!--  #docs.clearfix-->
<!--    - unless @documents.blank?-->
<!--      - @documents.each do |doc|-->
<!--        %a{ href: (url_for [doc])}-->
<!--          .doc-->
<!--            %p.title= doc.title-->
<!--            %p.date= time_ago_in_words(doc.created_at) + " ago"-->
<!--            %p.content= truncate(doc.body, length: 50)-->
<!--    - else-->
<!--      %h2 Create Doc!-->
<!--      %p Start Creating Documents and Organizing Your Life!-->
<!--      %button= link_to 'Create Doc', new_document_path-->

<div class="wrapper_with_padding">
  <div class="clearfix" id="docs">
    <% unless @documents.blank? %>
      <% @documents.each do |doc| %>
        <a href="<%= (url_for [doc]) %>">
          <div class="doc">
            <p class="title">
              <%= doc.title %>
            </p>
            <p class="date">
              <%= time_ago_in_words(doc.created_at) + " ago" %>
            </p>
            <p class="content">
              <%= truncate(doc.body, length: 50) %>
            </p>
          </div>
        </a>
      <% end %>
    <% else %>
      <h2>Create Doc!</h2>
      <p>Start Creating Documents and Organizing Your Life!</p>
      <button>
        <%= link_to 'Create Doc', new_document_path %>
      </button>
    <% end %>
  </div>
</div>
