<% if @documents.blank? %>
  <$%= render 'new' %>
<% else %>
  <table class="table table-hover border-bottom" id="docs_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Last modified</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |doc| %>
        <tr>
          <td><%= doc.title %></td>
          <td><%= current_user.email %></td>
          <td><%= time_ago_in_words(doc.updated_at) %> ago</td>
          <td>
            <div class="btn-group">
                <%= link_to 'View', document_path(doc), class: 'btn btn-secondary btn-md' %>
                <%= link_to 'Edit', edit_document_path(doc), class: 'btn btn-secondary btn-md' %>
                <%= link_to 'Delete', doc,
                            method: :delete,
                            class: 'btn btn-secondary btn-md',
                            data: { confirm: 'Are you sure?' }%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
