%h1= @document.title
%p= @document.body

= link_to 'Documents List', documents_path
= link_to 'Edit', edit_document_path(@document)
= link_to 'Delete', document_path(@document),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
