<h1><%= @pic.title %></h1>
<p><%= @pic.description %></p>

<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_pic_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', @pic,
            class: 'btn btn-primary',
            method: :delete,
            data: { confirm: 'Are you sure?'}%>